@model DisciplinaModel
@{

    ViewBag.Subtitulo = "Excluir Disciplina";

    TurmaModel TurmaRel = ViewBag.TurmaId;

}

<h1 class="text-light">@ViewBag.Subtitulo</h1>
<hr>

<h4>Excluir esta disciplina significa excluir tudo que está relacionada a ela.<br>Deseja realmente excluir <span class="text-danger">@Model.Nome</span>?</h4>

<form asp-action="Excluir" class="w-25">
    <input type="hidden" asp-for="@Model.DisciplinaId">
    <div class="mt-3">
        <a asp-action="Index" asp-route-id="@TurmaRel.TurmaId" class="btn btn-success">Não</a>
        <button class="btn btn-danger" type="submit">Sim</button>
    </div>
</form>